.heading {
  font-size: var(--heading-ramp);
  font-weight: 400;
  color: var(--color-text);
  font-family: var(--font-heading);
  margin-bottom: 1rem;
}


.subheading {
  font-size: var(--subheading-ramp);
  font-weight: 300;
  font-family: var(--font-subheading);
  margin-bottom: 3rem;
  color: rgb(126, 123, 123);
  margin-left: auto;
}

.paragraph,
.listItem {
  font-size: var(--body-ramp);
  color: var(--color-text);
  line-height: 1.55;
  font-family: var(--font-body);
  text-align: left;
  margin-bottom: 1.25rem;
}

.siteGrate {
  font-size: var(--site-voice-ramp);
  font-family: var(--font-pleasant-authority);
  color: var(--color-tag-text);
  text-align: left;
  margin: 0 0 1.25rem 0;
}

.inlineCode {
  background: var(--color-background);
  padding: 0.1em 0.3em;
  color: var(--color-text);
  font-family: monospace;
  border-radius: 4px;
  font-size: 0.95em;
}

.portalText {
  background: var(--color-background);
  margin: 1rem;
  padding: 0.5rem 0.6rem;
  color: var(--color-text);
  border-radius: 4px;
}

.inlinePortal {
  background: var(--color-text);
  margin: 2rem;
  padding: .5rem;
  color: var(--color-text);
  border-radius: 4px;
}

.link {
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.link:hover {
  border-bottom-color: red;
}

.footerMapLink {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  color: rgb(186, 183, 183);
}

.footerMapLink:hover {
  border-bottom-color: red;
}

.button {
  background-color: var(--color-background);
  color: var(--color-text);
  border: 2px solid var(--color-text);
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

.date {
  font-size: var(--font-subheading);
  font-family: var(--font-pleasant-authority);
  color: var(--color-tag-text)
}