

/* .layout:hover {
  grid-template-columns: min-content  1fr min-content;
} */

/* This class will be added when the sidebar or hover zone is hovered */
.layout.expanded {
  grid-template-columns: 250px 1fr min-content;
}


.footer {
    box-shadow:
    inset 0 0 50px #fff,      /* inner white */
    /* inset 0 0 0 100px #999,  left magenta */
}

.layout {
  box-shadow:
    inset 60px 0 120px #002,  /* left magenta */
    inset -60px 0 250px #254; /* right cyan */

  display: grid;
  transition: grid-template-columns 0.3s ease-out;

  grid-template-areas:
    "header header header header"
    "left   left   left   right"
    "main   main   main   main"
    "mail   mail   mail   mail"
    "footer footer footer footer";
  grid-template-columns: 1fr 1fr 1fr min-content;
  grid-template-rows: 
    minmax(1fr, min-content) 
    1fr 
    minmax(500px, 1fr) 
    minmax(min-content, 100px);

@media screen and (min-width: 800px) {
  grid-template-areas:
    "header header header header" 
    "left   main   main   right"
    "mail   mail   mail   mail"
    "footer footer footer footer";
  grid-template-columns: 100px 1fr 1fr 100px;
  grid-template-rows: 
    minmax(min-content) 
    1fr
    auto
    auto;
  grid-gap: 0;

  }
}



